<style>
div.fieldWithErrors input,
div.fieldWithErrors textarea{
  border: 1px solid #ff0000;
  background: #ffeeee;
}
</style>

<h1>Zadania do wykonania</h1>
<div id="task_list">
  <% @tasks.each do |t| %>
    <%= render :partial => "task", :locals => {:task => t} %>
  <% end %>
</div>
<h2>Dodaj zadanie</h2>

<%= error_messages_for :task %>

<% remote_form_for :task, 
     :url => {:controller => :tasks,
              :action => :create
             },
      :complete => "taskCreated(request)" do |f| %>
  <div><%= f.text_field :title %></div>
  <%= error_message_on @task, :title %>
  <div><%= f.text_area :description %></div>
  <%= error_message_on @task, :description %>
  <div><%= submit_tag "zapisz" %></div>
<% end %>

<script>
function taskCreated(request)
{
  var tasklist = $('task_list');
  tasklist.insert({bottom: request.responseText}); 
}
  

</script>
